* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
    /* text-decoration: none;
    list-style: none; */
}

body {
    background-color: #f3f4f5;
    overflow-x: hidden;
}

/* Top Floating Section */

.top-floating-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #0e0e5e;
    padding: 15px 20px;
    color: #fff;
    z-index: 999;
    box-shadow: 12px 12px 24px rgba(128, 129, 170, 0.4);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
}
.top-floating-icon {
    font-weight: 1300;
}

/* Top Bar Section */
#top-bar {
    background-color: #0e0e5e;
    padding-top: 1rem;
    color: #fff;
}

.badge {
    background-color: #f27b86 !important;
    /* font-size: 12px; */
}
.top-bar-text {
    font-size: 14px;
}

.lang-switcher {
    /* position: relative; */
    text-align: right;
}

#langSwitcher,
.dropdown-item {
    background-color: #fff;
    color: #0e0e5e;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    border-color: #fff;
    border-bottom: #fff 6px solid;
}

.dropdown-item img {
    padding-right: 5px;
}

/* Title Section  */

#title {
    background-color: #fff;
}

.underline-bar {
    border-bottom: 2px solid transparent #fff;
    margin-right: 8px;
    /* position: relative; */
    /* border-radius: 1em; */
    color: rgba(14, 14, 94, 0.55);
}
.underline-bar:hover {
    /* content: "";
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%); */
    /* border-bottom: 4px solid; */
    /* border-image-source: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%); */
    /* margin-right: 8px; */
    /* border-radius: 5px; */
    border-bottom: 3px solid black;
}
#downloadApp {
    background: linear-gradient(
        90deg,
        rgba(0, 178, 238, 1) 0%,
        rgba(0, 202, 151, 1) 100%
    );
    /* color: white; */
    border: none;
    outline: none;
}

#switchCountry {
    background: #e5f9f8 !important;
    color: #0e0e5e;
    border: none;
    outline: none;
}

.download-text {
    font-size: 14px;
    font-weight: bold;
}
.download-img {
    vertical-align: middle;
}

.choose-country-dropdown {
    width: max-content;
}

/* Section One */
#sectionOne {
    background: linear-gradient(
        90deg,
        rgba(0, 178, 238, 1) 0%,
        rgba(0, 202, 151, 1) 100%
    );
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    /* padding-bottom: 4.6rem; */
    height: 90vh;
}

.sectionOne-img {
    width: 87%;
}
.sectionOne-image {
    width: 100%;
}

.one-account {
    position: absolute;
    top: 37%;
    left: 30%;
    text-align: center;
    color: #fff;
}

.one-acount-text {
    font-weight: 900;
}

.card-button {
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: #fff;
    color: #0e0e5e;
    font-weight: bold;
}

/* Section Two */

.card-section {
    position: relative;
    z-index: 1;
    top: -60px;
}
.card {
    /* width: max-content; */
    /* height: 5%; */
    width: 22rem;
    margin: 0 !important;
    border-radius: 2rem;
    border: none;
    --bs-card-spacer-y: 0 !important;
    --bs-card-spacer-x: 0 !important;
}

.mobile-text {
    width: 12rem;
    /* padding-left: 10px; */
    font-size: 13px;
    line-height: 1.9;
}

.mobile-text p,
.advantage-section-card p {
    color: #0e0e5e;
    font-size: 13px;
    font-weight: 500;
}

.image-card {
    width: 7.5rem;
    height: 8em;
    border-radius: 1rem;
}

/* SectionTwo-Content  */

.sectionTwo-content p {
    color: #8081aa;
}

.deep-blue-content {
    color: #0e0e5e;
    font-weight: 900;
}

.deep-green-content {
    color: #00cc92;
    font-weight: 900;
}

.advantage-section-card {
    background-color: #fff;
}

.check-circle {
    width: 30px;
    height: 30px;
    background-color: #00cc92;
    border-radius: 50%;
    text-align: center;
    position: relative;
    /* top: rem; */
    left: 50%;
    transform: translate(-50%, -50%);
}
.check-circle i {
    vertical-align: middle;
}

/* Virtual-Card Ssection */

.virtual-card {
    background: linear-gradient(
        180deg,
        rgba(0, 178, 238, 1) 0%,
        rgba(0, 202, 217, 1) 100%
    );
}

.phone-image {
    position: relative;
    /* left: 16rem; */
    bottom: -3.6rem;
    width: 13rem;
    /* transform: translate(-50%,-50%); */
}

.virtual-card-texts {
    align-items: center;
}
.virtual-card-zero {
    font-size: 12rem;
    font-weight: bold;
    /* padding-top: 0 !important;
    margin-top: 0 !important; */
}

.virtual-card-words {
    vertical-align: middle;
}

.real-notification {
    background-color: #fff;
    height: 100%;
    color: #0e0e5e;
}

.notification-download {
    background: linear-gradient(
        90deg,
        rgba(0, 178, 238, 1) 0%,
        rgba(0, 202, 151, 1) 100%
    );
    border: none;
    outline: none;
    width: max-content;
}
.notification-download:hover {
    background: linear-gradient(
        90deg,
        rgba(0, 202, 151, 1) 0%,
        rgba(0, 178, 238, 1) 100%
    );
}
.real-notification-image {
    width: 8rem;
    position: relative;
    bottom: -4.4rem;
    /* left: 8rem; */
    float: right;
    padding-bottom: 0 !important;
}

/* Recieve Payment Section */

.receive-payment-section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
}

.payment-image {
    justify-content: center;
    color: #0e0e5e;
}
.payment-image img {
    width: 30%;
    height: 12%;
}
.payment-text h1 {
    font-size: 2rem;
}

/* Fraancophone Africa Section */

#francophoneAfrica {
    background: linear-gradient(
        90deg,
        rgba(0, 178, 238, 1) 0%,
        rgba(0, 202, 217, 1) 100%
    );
    color: white;
    padding: 0 !important;
    /* height: 130vh; */
    height: 100%;
}

.francophone-card-text {
    margin-bottom: 9rem;
}

.card-button {
    width: max-content;
}
.amazon-image {
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
}

.instant-card-image {
    width: 70%;
}

.playstore-image {
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    float: right;
}

/* Card Priority Section */
#card-priority,
.payment-text {
    color: #0e0e5e;
}

.card-priority-sub-section {
    background-color: #fff;
}

.card-priority-image {
    position: relative;
}
.bottom-image {
    /* position: relative; */
    filter: blur(3px);
    background-position: center bottom;
    padding-top: 3rem;
}

.bottom-icon {
    position: absolute;
    left: 50%;
    /* bottom: 0.1%; */
    transform: translate(-50%, -100%);
}

.card-priority-section {
    position: relative;
    z-index: 1;
    top: -100px;
}

/* Physical Card */

.physical-card p,
.process-section-content,
#partner-section p,
.contact-section p,
.subscribe-color {
    color: #8081aa;
}

.physical-card-content {
    padding-left: 7rem;
}
.physical-circle-card {
    width: 30px;
    height: 30px;
    background-color: #00cc92;
    border-radius: 50%;
}

.physical-circle-card i {
    vertical-align: middle;
    transform: translate(55%, 0%);
}

.physical-card-section-two {
    margin-top: 5rem;
}

.physical-card-imageTwo {
    padding-right: 0 !important;
}

/* Process Section */

.process-section {
    margin-top: 8rem;
}

.process-section-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.number-circle-div {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    /* top: rem; */
    left: 45%;
    transform: translate(-50%, -50%);
}

.number-circle-content {
    text-align: center;
    vertical-align: middle;
}

/* Images Section */

#partner-section {
    background-color: #fff;
    /* padding: 7% 9%; */
    padding-bottom: 15rem;
}

.partner-section-content {
    padding-top: 7rem;
}

.partner-section-slideshow {
    display: flex;
    width: 80%;
    padding-top: 4rem;
}

#carouselExampleAutoplaying {
    display: none;
    /* visibility: hidden; */
}

/* Footer Section */

#footer-section {
    margin-top: 2rem;
    background-color: #0e0e5e;
    color: #fff;
}

.list-circle-div {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    /* position: relative; */
    /* top: 2rem; */
    /* left: 45%; */
    /* transform: translate(-50%,-50%); */
    /* padding-top: 3rem; */
}

.list-circle-div i {
    vertical-align: middle;
}

/* Download App Section */

.downloadAppFree {
    background: linear-gradient(
        90deg,
        rgba(0, 183, 237, 1) 0%,
        rgba(0, 202, 217, 1) 100%
    );
    padding: 5% 0 0 8%;
    border-radius: 2rem;
    position: relative;
    top: -10rem;
}

.list-circle-content-two {
    /* width: fit-content; */
    /* padding-left: 2rem; */
}

.list-circle-content p {
    width: max-content;
}

.downloadAppFree-image {
    border-radius: 2rem;
}

/* Contact Section */

.contact-section {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    padding: 5rem 0;
}

.contact-mobile-button {
    background-color: #fff;
}

.contact-mobile-button:hover {
    color: #0d6efd;
}

.contact-button {
    background: linear-gradient(
        90deg,
        rgba(0, 183, 237, 1) 0%,
        rgba(0, 202, 217, 1) 100%
    );
    color: white;
}

/* Footer menu */

.menu-list {
    margin-top: 7rem;
}

.contact-email {
    border: none;
    outline: none;
}

.contact-subscribe {
    padding: 4rem;

    /* margin-top: 8rem; */
}

.checkbox-content {
    /* display: flex; */
}
.checkbox-content p {
    /* vertical-align: middle; */
}

/* Menu List */

.menu-list ul {
    list-style: none;
    padding-left: 0;
}

.menu-list ul li {
    padding: 0.5rem 0;
}

.menu-list ul li a {
    text-decoration: none;
    color: #8081aa;
    transition: 0.5s all;
}

.menu-list ul li a:hover {
    color: #fff;
}

.paysika-length {
    width: max-content;
}
hr {
    color: #fff;
}

/* Footer Social Section */

.footer-social-section a {
    text-decoration: none;
    margin-right: 0.5rem;
}

.footer-social-section a i {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00b0f4;
    text-align: center;
    border-radius: 50%;
    /* vertical-align: middle; */
    display: grid;
    place-items: center;
}

.copyright p {
    color: #babad1;
    font-size: 12px;
    float: right;
}
.copyright span {
    color: #057169;
}

.footer-company-detail p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    /* white-space: pre-wrap; */
    padding-bottom: 1rem;
    margin-bottom: 0;
}

@media screen and (max-width: 640px) {
    .choose-country-dropdown .btn-secondary,
    .download-query {
        margin: 0.2rem 0 !important;
    }
    .one-account {
        position: unset;
    }

    .card-section {
        margin-top: 2rem;
    }

    .phone-image {
        float: right;
    }

    .virtual-card {
        margin-bottom: 2rem;
    }

    .real-notification-image {
        position: unset;
    }

    .receive-payment-content-query {
        display: grid;
        place-items: center;
        text-align: center;
    }

    .receive-payment-image {
        float: none !important;
        width: 70%;
    }

    .payment-text h1 {
        font-size: 22px;
        margin-top: 2rem;
    }

    .card-priority-sub-section {
        margin-bottom: 2rem;
    }

    .card-priority-image {
        /* position: unset; */
    }

    .bottom-image {
        place-items: center;
    }

    .bottom-icon {
        /* position: unset; */
        bottom: -50%;
        /* transform: translate(-80%,-100%); */
    }

    /* .physical-card-section-one {
       display: flex;

       flex-direction: column;
       justify-content: center;
       align-items: center;
    } */
    .physical-card-content {
        padding-left: 0 !important;
        text-align: center;
        width: max-content;
    }

    .physical-circle-card i {
        transform: none !important;
    }

    .physical-card-image {
        float: none !important;
        /* width: 90%; */
        background-position: center !important;
        text-align: center;
        padding-top: 1rem;
        /* /* justify-content: center; */
        /* align-items: center; */
        /* display: grid;
        place-items: center;  */
    }

    .physical-card-section-two {
        display: grid;
        place-items: center;
        text-align: center;
        width: max-content;
    }
    .physical-card-section-two-content h1,
    .physical-card-section-two-content h1 p {
        /* text-align: center; */
        /* padding-top: 1rem; */
    }

    .physical-card-imageTwo img {
        /* width: 90%; */
    }

    .mobile-process {
        display: grid;
        place-items: center;
    }

    .number-circle-div {
        left: 47%;
        transform: none !important;
        margin-bottom: 1rem;
    }

    .partner-section-content p,
    .downloadAppFree-content p {
        font-size: 13px;
    }

    .partner-section-content h3 {
        /* font-size: 24px; */
    }

    #carouselExampleAutoplaying {
        display: block;
    }

    .partner-section-slideshow {
        display: none;
    }

    .downloadAppFree-content {
        text-align: center;
        width: max-content;
    }

    .menu-list {
        /* display: grid;
        place-items: center; */
    }

    .menu-first-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        text-align: center;
    }

    .services-float,
    .quick-contact-float,
    .paysika-length {
        float: none !important;
        text-align: center;
    }

    .paysika-length {
        width: auto !important;
    }

    .social-section-query {
        justify-content: space-around;
        /* flex-direction: column; */
    }

    /* .footer-section-query {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .copyright p {
        margin-top: 1rem;
    }
}
