* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
    /* text-decoration: none;
    list-style: none; */
}

body {
    background-color: #f3f4f5;
    overflow-x: hidden;
}

    /* Top Floating Section */

.top-floating-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #0e0e5e;
    padding: 15px 20px;
    color: #fff;
    z-index: 999;
    box-shadow: 12px 12px 24px rgba(128,129,170,.40);
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
    outline: none;

}
.top-floating-icon {
    font-weight: 1300;
}


    /* Top Bar Section */
#top-bar {
    background-color: #0e0e5e;
    padding-top: 1rem;
    color: #fff;
}

.badge {
    background-color: #f27b86 !important;
    /* font-size: 12px; */
}
.top-bar-text{
    font-size: 14px;
}

.lang-switcher {
   /* position: relative; */
   text-align: right;

}

#langSwitcher, .dropdown-item {
    background-color: #fff;
    color: #0e0e5e;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    border-color: #fff;
    border-bottom: #fff 6px solid;
}

.dropdown-item img {
    padding-right: 5px;
}

    /* Title Section  */

#title {
    background-color: #fff;
}

.underline-bar {
    border-bottom: 2px solid transparent;
    margin-right: 8px;
    position: relative;
    border-radius: 1em;
}
.underline-bar:before {
    /* content: "";
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%); */
    /* border-bottom: 4px solid; */
    /* border-image-source: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%); */
    /* margin-right: 8px; */
    /* border-radius: 5px; */

}
#downloadApp {
    background: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%);
    /* color: white; */
    border: none;
    outline: none;
}

#switchCountry {
    background: #e5f9f8 !important;
    color: #0e0e5e;
    border: none;
    outline: none;
}

.download-text {
    font-size: 14px;
    font-weight: bold;
}
.download-img {
    vertical-align: middle;
}

    /* Section One */
#sectionOne {
    background: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    /* padding-bottom: 4.6rem; */
    height: 90vh;
}

.sectionOne-img {
    width: 87%;
}
.sectionOne-image {
    width: 100%;
}

.one-account {
    position: absolute;
    top: 37%;
    left: 30%;
    text-align: center;
    color: #fff;
}

.one-acount-text {
    font-weight: 900;
}

.card-button {
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: #fff;
    color: #0e0e5e;
    font-weight: bold;
}

    /* Section Two */

.card-section {
    position: relative;
    z-index: 1;
    top: -60px; 
}
.card {
    /* width: max-content; */
    /* height: 5%; */
    width: 22rem;
    margin: 0 !important;
    border-radius: 2rem;
    border: none;
    --bs-card-spacer-y: 0 !important;
    --bs-card-spacer-x: 0 !important;
}

.mobile-text {
    width: 12rem;
    /* padding-left: 10px; */
    font-size: 13px;
    line-height: 1.9;
}

.mobile-text p, .advantage-section-card p {
    color: #0e0e5e;
    font-size: 13px;
    font-weight: 500;
}

.image-card {
    width: 7.5rem;
    height: 8em;
    border-radius: 1rem;
}

    /* SectionTwo-Content  */

.sectionTwo-content p {
    color: #8081aa;
}

.deep-blue-content {
    color: #0e0e5e;
    font-weight: 900;
}

.deep-green-content {
    color: #00cc92;
    font-weight: 900;
}

.advantage-section-card {
    background-color: #fff;
}


.check-circle {
    width: 30px;
    height: 30px;
    background-color: #00cc92;
    border-radius: 50%;
    text-align: center;
    position: relative;
    /* top: rem; */
    left: 50%;
    transform: translate(-50%,-50%);
}
.check-circle i{
    vertical-align: middle;
}

    /* Virtual-Card Ssection */


.virtual-card {
    background: linear-gradient(180deg, rgba(0,178,238,1) 0%, rgba(0,202,217,1) 100%);
    /* border-radius: 1rem; */
    height: 65vh;
}

.phone-image {
    position: relative;
    /* left: 16rem; */
    bottom: -3.6rem;
    width: 13rem;
    /* transform: translate(-50%,-50%); */
}


.virtual-card-texts {
    align-items: center;
}
.virtual-card-zero {
    font-size: 12rem;
    font-weight: bold;
    /* padding-top: 0 !important;
    margin-top: 0 !important; */
}

.virtual-card-words {
    vertical-align: middle;
}

.real-notification {
    background-color: #fff;
    height: 65vh;
}

.notification-download {
    background: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,151,1) 100%);
    border: none;
    outline: none;
    width: max-content;
}
.notification-download:hover {
    background: linear-gradient(90deg, rgba(0,202,151,1) 0%, rgba(0,178,238,1) 100%);
}
.real-notification-image {
    width: 8rem;
    position: relative;
    bottom: -2.6rem;
    left: 8rem;
    padding-bottom: 0 !important;
}

    /* Recieve Payment Section */

.receive-payment-section {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
}

.payment-image {
    justify-content: center;
    color: #0e0e5e;
}
.payment-image img{
    width: 30%;
    height: 12%;
}
.payment-text h1{
    font-size: 2rem;
}

    /* Fraancophone Africa Section */

#francophoneAfrica {
    background: linear-gradient(90deg, rgba(0,178,238,1) 0%, rgba(0,202,217,1) 100%);
    color: white;
    padding: 0 !important;
    height: 130vh;
}

.amazon-image {
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
}

.instant-card-image{
    width: 70%;
  
}

.playstore-image {
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    float: right;
}

    /* Card Priority Section */
#card-priority {
    color: #0e0e5e;
}

.card-priority-sub-section {
    background-color: #fff;
}

.card-priority-image {
    position: relative;
}
.bottom-image {
    /* position: relative; */
    filter: blur(3px);
    background-position: center bottom;
    padding-top: 3rem;
}

.bottom-icon {
    position: absolute;
    left: 50%;
    /* bottom: 0.1%; */
    transform: translate(-50%,-100%);
}

.card-priority-section {
    position: relative;
    z-index: 1;
    top: -100px; 
}

    /* Physical Card */

.physical-card p {
    color: #8081aa;
}
.physical-circle-card {
    width: 30px;
    height: 30px;
    background-color: #00cc92;
    border-radius: 50%;
}

.physical-circle-card i {
    vertical-align: middle;
    transform: translate(55%, 0%);
}

